<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand me-auto" href="#"><div class="logo">
                <img src="../resources/logo.png" alt="logo">
            </div></a>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><div class="logo">
                        <img src="../resources/logo.png" alt="logo">
                    </div></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active mx-lg-2 text-warning fw-bolder" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="../components/packages.html">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="./Trips.html">Trips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="./contactUs.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 login-button-hide" href="../components/Login.html">Login/SignUp</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="./Login.html" class="btn btn-outline-light Login-Button">Login/SignUp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <section class="background">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <h1>About Us</h1>
        </div>
    </section>

    <section class="intro">
        <p class="red-heading"></p>
        <div class="container rounded">
            <div class="row">
                <div class="col-sm-5 ">
                    <h1 class="display-2">HELLO, OUR AGENCY HAS BEEN PRESENT BEST IN THE MARKET</h1>
                </div>
                <div class="col-sm-7 ">
                    <p>At Agriter, we're dedicated to showcasing the charm and allure of agritourism. Our mission is to
                        bridge the gap between urban dwellers and rural landscapes, offering immersive experiences that
                        celebrate local culture, sustainable practices, and the natural world. With a commitment to
                        authenticity and community, we invite you to embark on unforgettable journeys that foster
                        connections, create memories, and inspire a deeper appreciation for the beauty and bounty of our
                        agricultural heritage. Join us as we explore the rich tapestry of rural life and cultivate
                        meaningful connections between travelers and the land.</p>
                    <p>
                        Agriter stands at the intersection of adventure and education, offering an array of experiences
                        that not only entertain but also enlighten. Through farm tours, workshops, and hands-on
                        activities, we provide a deeper understanding of agricultural practices, fostering appreciation
                        for the land and its bounty. Our network of partners, including local farmers, artisans, and
                        conservationists, ensures that each journey is infused with authenticity and purpose. With a
                        commitment to responsible tourism, we strive to leave a positive impact on the communities we
                        visit while creating lifelong memories for our guests. Join us in discovering the beauty and
                        significance of rural life, one adventure at a time.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="slide">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="3000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="../resources/slide-1.jpg"
                            class="d-block w-100 c-img" alt="slide">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="../resources/slide-2.jpg"
                            class="d-block w-100 c-img" alt="slide">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="../resources/slide-3.jpg"
                            class="d-block w-100 c-img" alt="slide">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="../resources/slide-4.jpg"
                            class="d-block w-100 c-img" alt="slide">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="../resources/slide-5.jpg"
                            class="d-block w-100 c-img" alt="slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>

    <section class="about-content">
        <h1 class="text-center pb-3" style="color: #009E60;">Enhancing User Experiences</h1>
        <div class="container">
            <p>
                At Agriter, we prioritize delivering an exceptional user experience from the moment you visit our
                website to the conclusion of your agritourism adventure. Our user-friendly platform offers intuitive
                navigation, allowing you to seamlessly browse through our diverse range of packages and destinations. We
                understand that every traveler is unique, which is why we offer personalized recommendations based on
                your preferences and interests. Once you book your experience with us, our dedicated team ensures smooth
                coordination and support throughout your journey, from accommodation arrangements to activity bookings.
                During your agritourism adventure, we strive to exceed your expectations by providing knowledgeable
                guides, immersive activities, and opportunities for authentic cultural exchange. We value your feedback
                and continuously strive to improve our services, ensuring that each user leaves with not only
                unforgettable memories but also a deep appreciation for rural life and sustainable tourism. Join us for
                a journey of discovery, connection, and unparalleled experiences in the heart of the countryside.</p>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p class="red-heading"></p>
                    <h1 class="display-3">User-Captured Wonders:</h1>
                    <h5> Highlighting the Best Traveler Shared Photos</h5>
                </div>
                <div class="col-6 pe-0 col-lg-4">
                    <img src="../resources/gallery-1.avif"
                        class="d-flex justify-content-center rounded" alt="gallery">
                </div>
                <div class="col-6 col-lg-4">
                    <img src="../resources/gallery-2.webp"
                        class="d-flex justify-content-center rounded" alt="gallery">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="../resources/gallery-3.jpg"
                        class="d-flex justify-content-center rounded" alt="gallery">
                </div>
                <div class="col-8">
                    <img src="../resources/gallery-4.jpg"
                        class="d-flex justify-content-center rounded" alt="gallery">
                </div>
            </div>
        </div>
    </section>

    <section class="footer text-white">
        <div class="container pt-3 ps-4">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="f-head">ABOUT US</div>
                    <div class="f-body">
                        <ul>
                            <li>Management</li>
                            <li>Terms of Services</li>
                            <li>User Agreement</li>
                            <li>Privacy</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-6">
                    <div class="f-head">TRAVEL DETAILS</div>
                    <div class="f-body">
                        <ul>
                            <li>PNR Status</li>
                            <li>Offers</li>
                            <li>Airline Routes</li>
                            <li>Train Running Status</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="f-head">OUR PRODUCTS</div>
                    <div class="f-body">
                        <ul>
                            <li>Domestic Hotels</li>
                            <li>International Hotels</li>
                            <li>Domestic Flights</li>
                            <li>International Flights</li>
                            <li>Multi-City Flights</li>
                            <li>Nearby Getaways</li>
                            <li>Bus Booking</li>
                            <li>Cab Booking</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-6">
                    <div class="f-head">MORE LINKS</div>
                    <div class="f-body">
                        <ul>
                            <li>Cheap Flights</li>
                            <li>Hotels Near Me</li>
                            <li>My Bookings</li>
                            <li>Cancellation</li>
                            <li>My Account</li>
                            <li>Wallet</li>
                            <li>Advertise with Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="follow-head">
                <h5>Follow Us</h5>
            </div>
            <div class="icon">
                <div class="icons">
                    <i class="fab fa-instagram fa-2x" style="color: #ffffff;"></i>
                    <i class="fab fa-twitter-square fa-2x" style="color: #ffffff;"></i>
                    <i class="fab fa-youtube fa-2x" style="color: #ffffff;"></i>
                    <i class="fab fa-facebook fa-2x" style="color: #ffffff;"></i>
                </div>
            </div>
        </div>
        <hr>
        <div class="container pb-3">
            <div class="last row">
                <div class="col-4">
                    <div class="col" style="border-right: 1px solid #fff;">Privacy Policy</div>
                    <div class="col" style="border-right: 1px solid #fff;">Terms & Conditions</div>
                    <div class="col">FAQ</div>
                </div>
                <div class="col text-center"></div>
                <div class="col text-end">Copyright&nbsp;&copy;2024&nbsp;Agriter. All rights reserved.</div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../script/index.js"></script>
</body>
</html>