<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Trips.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand me-auto" href="#"><div class="logo">
                <img src="../resources/logo.png" alt="logo">
            </div></a>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><div class="logo">
                        <img src="../resources/logo.png" alt="logo">
                    </div></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 " aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="../components/packages.html">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mx-lg-2 text-warning fw-bolder" href="./Trips.html">Trips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="./contactUs.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 login-button-hide" href="../components/Login.html">Login/SignUp</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="./Login.html" class="btn btn-outline-light Login-Button">Login/SignUp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <section class="background">
        <div class="container d-flex align-items-center justify-content-around text-white flex-sm-row flex-column">
            <div class="Trip-header">
                <h1 class=" fs-1 fw-bold">Top Destination</h1>
                <p>Experience the epitome of travel excellence at our top-notch destinations. From breathtaking
                    landscapes to cultural landmarks, each destination offers a unique blend of adventure and
                    relaxation. Whether you seek vibrant city life or serene natural beauty, our handpicked destinations
                    promise unforgettable experiences tailored to your preferences.</p>
                <a href="../index.html" class="btn btn-warning">Head to Homepage</a>
            </div>
            <div class="Destination-form text-white">
                <div class="mb-3">
                    <label for="Place" class="form-label">Destination*</label>
                    <input type="text" class="form-control" id="Place" placeholder="Enter Destination">
                </div>
                <div class="mb-3">
                    <label for="Check-in" class="form-label">Check-In Date*</label>
                    <input type="date" class="form-control" id="Check-In" placeholder="Enter Check-In Date">
                </div>
                <div class="mb-3">
                    <label for="Check-Out" class="form-label">Check-Out Date*</label>
                    <input type="date" class="form-control" id="Check-Out" placeholder="Enter Check-Out Date">
                </div>
                <div class="mb-3">
                    <label for="Room">Rooms</label>
                    <div class="dropdown">
                        <button class="btn btn-light w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Please Select Rooms
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">2 Adults 1 Room</a></li>
                            <li><a class="dropdown-item" href="#">4 Adults 2 Room</a></li>
                            <li><a class="dropdown-item" href="#">Family Room</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="btn btn-primary w-100">Find Now</a>
                </div>
            </div>
        </div>
    </section>

    <section class="topDest">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12 col-md-6 ">
                    <h1 class="text-center display-4 fw-bolder
                    ">Top Notch Destinations</h1>
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        Discover unparalleled destinations that define excellence in travel. From awe-inspiring vistas
                        to cultural marvels, each locale promises a blend of adventure and tranquility. Whether craving
                        urban vibrancy or natural serenity, our curated destinations offer bespoke experiences tailored
                        to your desires. Embark on a journey where every moment transcends expectation.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 pe-0">
                    <div class="img-1 d-flex justify-content-center align-items-center">
                        <img src="../resources/trip-1.jpg" alt="Destination">
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="img-1 d-flex justify-content-center align-items-center">
                        <img src="../resources/trip-2.jpg" alt="Destination">
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex flex-column justify-content-between ps-0">
                    <div class="row ms-0 me-0 ps-0 pe-0">
                        <div class="img-2 d-flex justify-content-center align-items-center w-100">
                            <img src="../resources/trip-3.jpg" alt="Destination">
                        </div>
                    </div>
                    <div class="row ms-0 ps-0 me-0">
                        <div class="img-2 d-flex justify-content-center align-items-center">
                            <img src="../resources/trip-4.jpg" alt="Destination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Destinations mb-5">
        <div class="container pt-0">
            <h3 class="ps-4 pt-4">Handpicked Collections for You</h3>
            <div id="carouselExampleControls" class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="img-wrapper"><img src="../resources/collection-1.jpg" class="d-block w-100"
                                    alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Orange Farms, Nagpur</h5>
                                <p class="card-text">Dive into the citrus-scented haven of Nagpur's orange farms, where rows of verdant trees bear the golden bounty of nature. Experience the vibrant hues and aromatic delights of these orchards, where the legacy of citrus cultivation intertwines with the region's rich agricultural heritage.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img src="../resources/collection-2.jpg" class="d-block w-100"
                                    alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Tea Hills, Darjeeling</h5>
                                <p class="card-text">Immerse yourself in the emerald landscapes of Darjeeling's iconic tea gardens, where mist-clad hills embrace lush fields of Camellia sinensis. Experience the timeless allure of these plantations, craftsmanship, tradition, and the breathtaking beauty of the Himalayan foothills.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img src="../resources/collection-3.jpg" class="d-block w-100"
                                    alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Blooming House, Lucknow</h5>
                                <p class="card-text">Delve into the verdant sanctuaries of Lucknow's greenhouses, where botanical wonders thrive under protective canopies. Experience the fusion of technology and nature as these structures nurture exotic flora. Explore the vibrant tapestry of biodiversity flourishing within these urban oases.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img src="../resources/collection-4.jpg" class="d-block w-100"
                                    alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Singh Farms, Jalandhar</h5>
                                <p class="card-text"> Enter the picturesque realm of Punjab's wheat fields, where vast expanses of golden grains sway in the gentle breeze. Discover the agricultural heartland's iconic landscape, where centuries of farming tradition converge with modern techniques to yield the bounty that sustains a nation.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img src="../resources/collection-5.jpg" class="d-block w-100"
                                    alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Uvine's Strawberry, Shimla</h5>
                                <p class="card-text">Journey into the charming highlands of Shimla, where lush strawberry farms paint the landscape with bursts of vibrant red. Discover the sweet allure of these picturesque plantations, where the crisp mountain air . Experience the essence of summer in every juicy bite.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <a href="#" class="btn btn-info">View More Destinations</a>
        </div>
    </section>

    <section class="guide">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-5">
                    <div class="row">
                        <div class="col-6 pe-1 mb-1">
                            <img src="../resources/guide-1.avif"
                                class="rounded" alt="Guide">
                        </div>
                        <div class="col-6 ps-1 mb-1">
                            <img src="../resources/guide-2.jpg"
                                class="rounded" alt="Guide">
                        </div>
                        <div class="col-6 pe-1 mt-1">
                            <img src="../resources/guide-3.jpg"
                                class="rounded" alt="Guide">
                        </div>
                        <div class="col-6 ps-1 mt-1">
                            <img src="../resources/guide-4.jpg"
                                class="rounded" alt="Guide">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-7">
                    <div class="d-flex flex-column">
                        <p class="red-heading pt-5 pt-sm-0">
                            The Best Guide
                        </p>
                        <h1 class="display-5 fw-bolder">ULTIMATE GUIDE TO EPIC ADVENTURE</h1>
                        <h5>Dive into a comprehensive handbook that unlocks the secrets to crafting unforgettable and thrilling journeys, whether you're scaling mountain peaks, traversing dense jungles, or exploring vibrant cityscapes.</h5>
                        <p>
                        <ul>
                            <li>Clear and captivating communicator, adept at storytelling.</li>
                            <li>Vast knowledge of destination's history, culture, and geography.</li>
                            <li>Builds genuine connections with travelers from diverse backgrounds.</li>
                            <li>Calm problem-solver, ensuring seamless experiences.</li>
                            <li>Resilient and adaptable, turning challenges into opportunities.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="footer text-white">
        <div class="container pt-3 ps-4">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="f-head">ABOUT US</div>
                    <div class="f-body">
                        <ul>
                            <li>Management</li>
                            <li>Terms of Services</li>
                            <li>User Agreement</li>
                            <li>Privacy</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-6">
                    <div class="f-head">TRAVEL DETAILS</div>
                    <div class="f-body">
                        <ul>
                            <li>PNR Status</li>
                            <li>Offers</li>
                            <li>Airline Routes</li>
                            <li>Train Running Status</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="f-head">OUR PRODUCTS</div>
                    <div class="f-body">
                        <ul>
                            <li>Domestic Hotels</li>
                            <li>International Hotels</li>
                            <li>Domestic Flights</li>
                            <li>International Flights</li>
                            <li>Multi-City Flights</li>
                            <li>Nearby Getaways</li>
                            <li>Bus Booking</li>
                            <li>Cab Booking</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-6">
                    <div class="f-head">MORE LINKS</div>
                    <div class="f-body">
                        <ul>
                            <li>Cheap Flights</li>
                            <li>Hotels Near Me</li>
                            <li>My Bookings</li>
                            <li>Cancellation</li>
                            <li>My Account</li>
                            <li>Wallet</li>
                            <li>Advertise with Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="follow-head">
                <h5>Follow Us</h5>
            </div>
            <div class="icon">
                <div class="icons">
                    <i class="fab fa-instagram fa-2x" style="color: #ffffff;"></i>
                    <i class="fab fa-twitter-square fa-2x" style="color: #ffffff;"></i>
                    <i class="fab fa-youtube fa-2x" style="color: #ffffff;"></i>
                    <i class="fab fa-facebook fa-2x" style="color: #ffffff;"></i>
                </div>
            </div>
        </div>
        <hr>
        <div class="container pb-3">
            <div class="last row">
                <div class="col-4">
                    <div class="col" style="border-right: 1px solid #fff;">Privacy Policy</div>
                    <div class="col" style="border-right: 1px solid #fff;">Terms & Conditions</div>
                    <div class="col">FAQ</div>
                </div>
                <div class="col text-center"></div>
                <div class="col text-end">Copyright&nbsp;&copy;2024&nbsp;Agriter. All rights reserved.</div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../script/trips.js"></script>
</body>
</html>
